{% extends "a_layout.html"%}
{% block nav %}
    <a class="navbar-brand" href="/about">about</a>
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>santa runs</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="/static/img/santaSleigh1.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>In December of 2012 Thornburg Company 8 started Santa Run with the intentions of bringing holiday cheer to our local neighborhoods.
                    Over the next few day we only covered our first due with Lancaster Gate being the first neighborhood. For the next three years Company 8
                    handled all of the Santa Runs. In 2015 Company 1 and 4 showed interest in assisting, while their help was minimal at best it helped relieve
                    some of the stress from Company 8 members. Former Captain Michael Huffman and current Battalion Chief Jason Carter asked the Board of Directors if the Volunteer 
                    Fire Department could purchase a Santa suit, it was rough, however they approved!</p>
                    <p>Today, the Santa Run has exploded and has become an expectation throughout the community. The community typically begins to acquire about Santa Runs in October via social media. The entire process from planning to scheduling takes 
                    approx. 2.5 months to complete.</p>
                    <p>To get Santa's "Sleigh" ready for his trips through Spotsylvania County it takes a team of dedicated folks. Most, if not all, member of the team 
                    are from Company 8. These ladies and gentleman work around the clock to decorate, design, paint, and build different decorations that make the "Sleigh" 
                    ever so amazing. One member of the team Lt. John Tenda works for about 6 months creating the light show that everyone has come to know and love.</p>
                    <hr>
                    <p><b>We can't thank these people who spend countless hours preparing and operating Santa's sleigh enough.</b></p>
                    <hr>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Tenda
                        <small>Lieutenant </small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="/static/img/Company8_1.jpg" alt="">
                    <h3>Company 8 
                        <small>Thornburg Volunteer Fire Department</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h4>Michael Huffman <small>Firefighter</small><br> Jason Carter <small>Battalion Chief 4</small><br> Santa
                        <!--<small>Job Title</small>-->
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}