{% extends "a_layout.html"%}
{% block nav %}
    <a class="navbar-brand" href="/">Home</a>
{% endblock %}
{% block carousel %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/merryChristmas1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/static/img/Santa_Truck1.jpg" alt="">
                            </div>
                            <!--<div class="item">-->
                            <!--    <img class="img-responsive img-full" src="/static/img/slide-3.jpg" alt="">-->
                            <!--</div>-->
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Spotsylvania Volunteer Fire Department's Santa Tracker</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>A
                            <strong>SVFD Blacksheep Production</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Santa is currently resting</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/static/img/sleepingSanta.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Santa plans to return tonight at 6pm. He will be visiting the following neighborhoods. For his exact location please follow <a href= "www.facebook.com">SVFD on facebook</a>. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Santa's current Location</strong>
                    </h2>
                    <hr>
                    <div id="map-container" style="height:400px;"></div>
                    
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwEGAU9as7NS0N27-Ogv3ape0byBVAF_4&callback=initMap"> </script>
                    <script type="text/javascript" src="/static/js/map.js"></script>
                    <!--<a href="/map">Map</a>-->
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}